* {
   margin: 0;
   padding: 0;
}

p {
   margin: 19.2px 0;
}

#container {
   margin: auto;
   width: 80%;
}

@media (max-width: 320px) {
   #container {
      background-color: yellow;
   }
}

@media (min-width: 321px) and (max-width: 768px) {
   #container {
      background-color: blue;
   }
}

@media (min-width: 769px) and (max-width: 1024px) {
   #container {
      background-color: purple;
   }
}

@media (min-width: 1025px) {
   #container {
      background-color: pink;
   }
}
